@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg:#222222;
  
  --secondry-bg:#303030;

 
  --text-gradient: linear-gradient(270deg, #001D76 2.27%, #2659F2 95.35%);

  --text-primary:#0000008e;
  --text-secondry:#363636;
  --golden-txt1:#001D76;

  --border-color1: #001D76;
  --border-color2: #2659F2;
  

  --curve-size: 0.7em;
  --curve-size2: 5em;
}

@font-face {
  font-family: "Gbold";
  src: local("Gbold"), url("/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Glight";
  src: local("Glight"), url("/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gregular";
  src: local("Gregular"), url("/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gsemibold";
  src: local("Gsemibold"), url("/Gilroy-SemiBold.ttf") format("truetype");
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  ;
}


.Gbold {
  font-family: Gbold;
}
.Glight {
  font-family: Glight;
}
.Gregular {
  font-family: Gregular;
}
.Gsemibold {
  font-family: Gsemibold;
}

p {
  font-family: Gregular;
}
h3 {
  font-family: Gsemibold;
}
h1 {
  font-family: Gsemibold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  color: white;
  overflow-x: hidden;
  font-family: sfPro;
}
.headroom {
  z-index: 50 !important;
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  background: var(--text-gradient)
}






.neoCard {
  background: #ffffff;
box-shadow:
  6px 6px 11.4px 0px #0000002E,
  -2px -2px 8.5px -5px #3E3E3EE5 inset;


  
}

.neoBorder {
  position: relative;
  padding: 1px; 
  border-radius: 16px; 
  background: linear-gradient(270deg, #001D76 2.27%, #2659F2 95.35%);
}

.neoBorder > .neoCard {
  border-radius: 16px;
}



.hovNeoCard {
  background: #FFFFFF;
  box-shadow:
  6px 6px 11.4px 0px #0000002E,
  2px 2px 8.5px -5px #3E3E3EE5 inset,
  -2px -2px 4px 0px #00000040 inset;

}
.hovNeoCard:hover {
  fill: #222;
  box-shadow:
    8px 8px 16px 0px #0000003A,
    3px 3px 10px -4px #3E3E3EE5 inset,
    -3px -3px 6px 0px #00000050 inset;

}


/* Add this to your CSS file */
.hide-scrollbar {
  overflow: auto; /* or overflow-y: scroll; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}



.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

