@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg:#222222;
  
  --secondry-bg:#ca1414;

  --page-bg-gradient: linear-gradient(180deg, #000000 0%, #363636 100%);

  --btn-bg-grad:  linear-gradient(148.88deg, #997A3D 25.71%, #FFCC66 69.65%);

  

  --text-gradient: #000000;

  --text-primary:#0000008e;
  --text-secondry:#363636;
  --golden-txt1:#000000;

  --border-color1: #001D76;
  --border-color2: #2659F2;
  

  --curve-size: 0.7em;
  --curve-size2: 5em;
}

@font-face {
  font-family: "Gbold";
  src: local("Gbold"), url("/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Glight";
  src: local("Glight"), url("/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gregular";
  src: local("Gregular"), url("/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gsemibold";
  src: local("Gsemibold"), url("/Gilroy-SemiBold.ttf") format("truetype");
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  ;
}


.Gbold {
  font-family: Gbold;
}
.Poppins {
  font-family: Poppins;
}
.Inter {
  font-family: Inter;
}

.Glight {
  font-family: Glight;
}
.Gregular {
  font-family: Gregular;
}
.Gsemibold {
  font-family: Gsemibold;
}

p {
  font-family: Inter;
}
h3 {
  font-family: Inter;
}
h1 {
  font-family: Gsemibold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background:linear-gradient(180deg, #000000 0%, #363636 100%);
  color: white;
  overflow-x: hidden;
  font-family: sfPro;
}
.headroom {
  z-index: 50 !important;
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  background: var(--text-gradient)
}






.neoCard {
 
  background: linear-gradient(180deg, #000000 0%, #363636 100%);
 
box-shadow: 0px 4px 4px 0px #2C4AEC0F ,
 0px 4px 4px 0px #00000017 inset;


}

.neoCard1 {
 
  background: #000000;
 
box-shadow: 0px 4px 4px 0px #2C4AEC0F ,
 0px 4px 4px 0px #00000017 inset;


}


.neoBorder {
  position: relative;
  padding: 1px; 
  border-radius: 16px; 
  background: linear-gradient(148.88deg, #997A3D 25.71%, #FFCC66 69.65%);


}

.neoBorder > .neoCard {
  border-radius: 16px;
}
.hovNeoCard {
  background: #FFCC66;
}
.hovNeoCard:hover {
  box-shadow:
    -3px -3px 7px 1px #FFFFFF inset,
     2px  2px 5px 1px #B8B9BE inset;

}
/* Add this to your CSS file */
.hide-scrollbar {
  overflow: auto; /* or overflow-y: scroll; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bg-page-gradient {
  background: var(--page-bg-gradient);
}

@layer utilities {
  .text-gold-gradienttt {
    @apply bg-goldGradient bg-clip-text text-transparent;
  }
}

@media (max-width: 1100px) {
  .custom-responsive {
    flex-direction: column !important;
  }
}

/* Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(180deg);
  cursor: pointer;
}

/* Firefox (limited support, still safe) */
input[type="date"] {
  color-scheme: dark;
}
